<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>angular documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	    <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">angular documentation</a>
            <button type="button" class="btn btn-default btn-menu fa fa-bars" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
            <div id="book-search-input" role="search">
                <input type="text" placeholder="Type to search">
            </div>
            <nav>
            
                <ul class="list">
            
                    <li class="title">
                        <a href="../">angular documentation</a>
                    </li>
            
                    <li class="divider"></li>
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../"><span class="fa fa-home"></span>Getting started</a>
                        <ul class="links">
                                <li class="link">
                                    <a href="../" ><span class="fa fa-file-text-o"></span>README</a>
                                </li>
                                <li class="link">
                                    <a 
                                        
                                         href="../overview.html" 
                                         href="../overview.html" 
                                        >
                                        <span class="fa fa-th"></span>Overview
                                    </a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="./modules.html" >
                            <span class="fa fa-archive"></span>
                            <span>Modules</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-modules-links"
                            ></span>
                        </a>
                        <ul class="links collapse in"
                                id="xs-modules-links"
                            >
                                <li class="link">
                                    <a href="../modules/AppModule.html" >AppModule</a>
                                </li>
                                <li class="link">
                                    <a href="../modules/AppRoutingModule.html" >AppRoutingModule</a>
                                </li>
                                <li class="link">
                                    <a href="../modules/ParserModule.html" >ParserModule</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-cogs"></span>
                            <span>Components</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-components-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-components-links"
                            >
                                <li class="link">
                                    <a href="../components/AppComponent.html" >AppComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/FooterComponent.html" >FooterComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/HeaderComponent.html" >HeaderComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/ParserDataComponent.html" >ParserDataComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/ParserDisplayComponent.html" >ParserDisplayComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/ParserHomeComponent.html" >ParserHomeComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/ParserSearchComponent.html" >ParserSearchComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/ParserTabComponent.html" >ParserTabComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/SignalComponent.html"  class="active" >SignalComponent</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-file-code-o"></span>
                            <span>Classes</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-classes-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-classes-links"
                            >
                                <li class="link">
                                    <a href="../classes/AppPage.html" >AppPage</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../routes.html" ><span class="fa fa-code-fork"></span>Routes</a>
                    </li>
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-long-arrow-down"></span>
                            <span>Injectables</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-injectables-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-injectables-links"
                            >
                                <li class="link">
                                    <a href="../injectables/ConnectionsService.html" >ConnectionsService</a>
                                </li>
                                <li class="link">
                                    <a href="../injectables/EventsService.html" >EventsService</a>
                                </li>
                        </ul>
                    </li>
            
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../miscellaneous.html" ><span class="fa fa-cubes"></span>Miscellaneous</a>
                    </li>
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../coverage.html" ><span class="fa fa-tasks"></span>Documentation coverage</a>
                    </li>
            
                    <li class="divider"></li>
                    <li class="copyright">
                            Documentation generated using <a href="https://compodoc.github.io/compodoc/" target="_blank">
                                        <img src="..//images/compodoc-vectorise.svg" class="img-responsive">
                            </a>
                    </li>
            
                </ul>
            
            </nav>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <nav>
                   
                       <ul class="list">
                   
                           <li class="title">
                               <a href="../">angular documentation</a>
                           </li>
                   
                           <li class="divider"></li>
                   
                               <div id="book-search-input" role="search">
                                   <input type="text" placeholder="Type to search">
                               </div>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../"><span class="fa fa-home"></span>Getting started</a>
                               <ul class="links">
                                       <li class="link">
                                           <a href="../" ><span class="fa fa-file-text-o"></span>README</a>
                                       </li>
                                       <li class="link">
                                           <a 
                                               
                                                href="../overview.html" 
                                                href="../overview.html" 
                                               >
                                               <span class="fa fa-th"></span>Overview
                                           </a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="./modules.html" >
                                   <span class="fa fa-archive"></span>
                                   <span>Modules</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#modules-links"
                                   ></span>
                               </a>
                               <ul class="links collapse in"
                                       id="modules-links"
                   >
                                       <li class="link">
                                           <a href="../modules/AppModule.html" >AppModule</a>
                                       </li>
                                       <li class="link">
                                           <a href="../modules/AppRoutingModule.html" >AppRoutingModule</a>
                                       </li>
                                       <li class="link">
                                           <a href="../modules/ParserModule.html" >ParserModule</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-cogs"></span>
                                   <span>Components</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#components-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="components-links"
                   >
                                       <li class="link">
                                           <a href="../components/AppComponent.html" >AppComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/FooterComponent.html" >FooterComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/HeaderComponent.html" >HeaderComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/ParserDataComponent.html" >ParserDataComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/ParserDisplayComponent.html" >ParserDisplayComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/ParserHomeComponent.html" >ParserHomeComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/ParserSearchComponent.html" >ParserSearchComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/ParserTabComponent.html" >ParserTabComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/SignalComponent.html"  class="active" >SignalComponent</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-file-code-o"></span>
                                   <span>Classes</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#classes-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="classes-links"
                   >
                                       <li class="link">
                                           <a href="../classes/AppPage.html" >AppPage</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../routes.html" ><span class="fa fa-code-fork"></span>Routes</a>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-long-arrow-down"></span>
                                   <span>Injectables</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#injectables-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="injectables-links"
                   >
                                       <li class="link">
                                           <a href="../injectables/ConnectionsService.html" >ConnectionsService</a>
                                       </li>
                                       <li class="link">
                                           <a href="../injectables/EventsService.html" >EventsService</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../miscellaneous.html" ><span class="fa fa-cubes"></span>Miscellaneous</a>
                           </li>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../coverage.html" ><span class="fa fa-tasks"></span>Documentation coverage</a>
                           </li>
                   
                           <li class="divider"></li>
                           <li class="copyright">
                                   Documentation generated using <a href="https://compodoc.github.io/compodoc/" target="_blank">
                                               <img src="..//images/compodoc-vectorise.svg" class="img-responsive">
                                   </a>
                           </li>
                   
                       </ul>
                   
                   </nav>
               </div>
               <div class="content component">
                   <div class="content-data">


<ol class="breadcrumb">
  <li>Components</li>
  <li>SignalComponent</li>
</ol>


    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#infos" id="infos-tab" role="tab" data-toggle="tab">Infos</a>
        </li>
        <li>
            <a href="#source" role="tab" id="source-tab" data-toggle="tab">Source</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade active in" id="infos"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/components/signal/signal.component.ts</code>
</p>



<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>












            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-signal</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>signal.component.css</code></td>
            </tr>



            <tr>
                <td class="col-md-3">templateUrl</td>
                <td class="col-md-9"><code>signal.component.html</code></td>
            </tr>


        </tbody>
    </table>
</section>



    <section>
        <h3 id="constructor">Constructor</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <code>constructor(cdf: <a href="https://angular.io/docs/ts/latest/api/core/index/ChangeDetectorRef-class.html" target="_blank" >ChangeDetectorRef</a>)</code>
                        </td>
                    </tr>
    
                </tbody>
            </table>
    </section>

    <section>
        <h3 id="methods">Methods</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b><span class="modifier">Private</span> CheckHubConnection</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <span class="modifier-icon method fa fa-play lock">
                                    <span class="fa fa-lock"></span>
                                </span>
                            <code>CheckHubConnection()</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b><span class="modifier">Private</span> hookEventHandlers</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <span class="modifier-icon method fa fa-play lock">
                                    <span class="fa fa-lock"></span>
                                </span>
                            <code>hookEventHandlers()</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> onClearClicked</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>onClearClicked()</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> onButtonClicked</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>onButtonClicked(msginput: HTMLInputElement)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>

    <section>
        <h3 id="inputs">Properties</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> connection</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>connection:     <code>HubConnection</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> currentmessage</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>currentmessage:     <code>string</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Default value: </i><code>Welcome!</code>
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> messages</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>messages:     <code>string[]</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> stringified</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>stringified:     <code>string</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>
</div>
        <div class="tab-pane fade tab-source-code" id="source">
            <pre><code class="hljs javascript">import {
  Component,
  OnInit,
  AfterViewInit,
  ChangeDetectorRef,
} from &quot;@angular/core&quot;;

import {
  HubConnectionBuilder,
  LogLevel,
  HubConnection,
} from &quot;@microsoft/signalr&quot;;

@Component({
  selector: &quot;app-signal&quot;,
  templateUrl: &quot;./signal.component.html&quot;,
  styleUrls: [&quot;./signal.component.css&quot;],
})
export class SignalComponent implements OnInit, AfterViewInit {
  constructor(private cdf: ChangeDetectorRef) {}
  connection: HubConnection;
  messages: Array&lt;string&gt; &#x3D; new Array();
  stringified: string;
  currentmessage: string &#x3D; &quot;Welcome!&quot;;

  ngOnInit(): void {}
  ngAfterViewInit() {
    this.CheckHubConnection();    
  }
  private async CheckHubConnection() {
    let secure &#x3D; &quot;https://localhost:44344/myHub&quot;;

    if (!this.connection) {
      this.connection &#x3D; new HubConnectionBuilder()
        .withUrl(secure)
        .configureLogging(LogLevel.Debug)
        .build();
      await this.connection.start().catch((error) &#x3D;&gt; {
        console.log({ signalRComponent: error });
        return;
      });
      this.hookEventHandlers();
    }
  }

  private hookEventHandlers() {
    this.connection.on(&quot;ReceiveMessage&quot;, (msg, msg2) &#x3D;&gt; {
      let now &#x3D; Date.now();
      let time &#x3D; new Date(now).toLocaleTimeString();
      this.messages.unshift(&#x60;${time}  |  ${msg}  : ${msg2}&#x60;);
      this.stringified &#x3D; this.messages.reduce((acc, item) &#x3D;&gt; {
        return acc + &quot;\n&quot; + item;
      });
      this.cdf.detectChanges();
    });
    this.connection.on(&quot;SendMessage&quot;, (msg) &#x3D;&gt; {
      debugger;
    });
  }
  onClearClicked(){
    this.stringified&#x3D;&quot;&quot;;
    this.messages &#x3D; new Array();
  }
  onButtonClicked(msginput: HTMLInputElement) {
    if (!msginput.value) {
      msginput.placeholder &#x3D; &quot;Please enter message here&quot;;
      msginput.style.boxShadow &#x3D; &quot;0px 0px 20em red&quot;;

      setTimeout(() &#x3D;&gt; {
        msginput.style.boxShadow &#x3D; &quot;&quot;;
      }, 1000);

      return;
    }
    this.CheckHubConnection();
    this.connection.invoke(&quot;SendMessage&quot;, &quot;Signal Component&quot;, msginput.value);
    this.currentmessage &#x3D; &quot;&quot;;
  }
}
</code></pre>
        </div>
    </div>










                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
           </div>
       </div>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/search/search.js"></script>
       <script src="../js/search/lunr.min.js"></script>
       <script src="../js/search/search-lunr.js"></script>

       <script src="../js/menu.js"></script>
       <script src="../js/libs/highlight.pack.js"></script>
       <script src="../js/libs/highlightjs-line-numbers.min.js"></script>
       <script src="../js/search/search_index.js"></script>
       <script>
            document.addEventListener('DOMContentLoaded', function() {
                hljs.initHighlightingOnLoad();
                hljs.initLineNumbersOnLoad();
            });
       </script>

    </body>
</html>
